.navbar {
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.shoppingCart {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.number {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    
}

