.itemCount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemCount button {
    margin: 10px;
}
.counter {
    display: flex;
    flex-direction: row;
}

.counter div {
    margin: 10px;
}

.Contador {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    align-items: center;
}

.Contador button {
    
    font-size: 18px;
    background: #263548;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
    
}

.Contador p {
    font-size: 24px;
}